@use '../../colors' as col
@use '../../__variables' as var
    
.pokeApi
    &__title
        text-align: center
        margin-bottom: 4rem
        font-size: 2.2rem
    &__slides-container
        display: flex
        flex-direction: column
        margin: 0 auto
        margin-bottom: 10rem
        gap: 2rem
        justify-content: center
        align-items: center
        @include var.media($screenType: 3)
            align-items: stretch
            flex-direction: row
            width: 80%
        @include var.media($screenType: 4)
            gap: 9rem
        
.pokeApiSlide
    &__container
        position: relative
        max-width: 17rem
        width: 78%
        word-wrap: break-word
        flex: 1
        align-items: stretch
        @include var.media($screenType: 3)
            max-width: 19rem
        @include var.media($screenType: 4)
            max-width: 19rem
        
    &__top
        background-color: col.$grey
        padding: 1.8rem 1.8rem
        padding-bottom: 1rem
        border-top-left-radius: 14px
        border-top-right-radius: 14px
    &__down
        border: col.$grey 1px solid
        padding: 1.8rem 1.8rem
        border-bottom-left-radius: 14px
        border-bottom-right-radius: 14px
    &__number
        position: absolute
        right: 7%
        bottom: -1.3rem
        font-weight: bold
        font-size: 2rem
        color: col.$blueDarker
    &__text
        line-height: 2.2rem