@use '../../__variables' as var
@use '../../colors' as col
$headerMargin: 1.2rem

.header
    z-index: 7
    display: flex
    width: 100%
    position: fixed
    justify-content: space-between
    font-size: 1.1rem
    top: 0
    transition: .8s
    padding: 1rem 0
    @include var.media($screenType: 2)
        padding-top: 0
        padding-bottom: 0
    &__links-elements
        list-style-type: none
    &__links-elements:hover
    &__links-hover
        display: block
        width: 40%
    &__left-side
        display: flex
        justify-content: center
        align-items: center
        color: white
        @include var.media($screenType: 2)
            margin-left: $headerMargin
    &__logo
        margin: 0 1rem
        height: auto
        width: 40px


    &__right-side
        display: flex
        justify-content: center
        align-items: center
        margin-right: $headerMargin
    &__right--pc
        color: white
        display: none
        gap: 2rem
        justify-content: center
        align-items: center
        @include var.media($screenType: 3)
            display: flex
    &__right-link
        margin: 1rem 0
        @include var.media($screenType: 2)
            font-size: 1rem
        @include var.media($screenType: 3)
            font-size: 1.3rem
    &__right-link::after
        content: ''
        width: 0%
        display: block
        background-color: col.$grey
        height: 1px
        margin-top: .4rem
        transition: .8s
    &__right-link-container
        position: relative
        transition: .8s
        transition-timing-function: cubic-bezier(0.37,-0.1, 0.57, 1)
    &__right-link-container:hover
        .header__right-link::after
            width: 100%
                background-color: blue
        .header__right-list
            display: flex
            opacity: 100%
    &__right-list
        animation: appear .8s cubic-bezier(0, 0, 0.2, 1.4)
        display: none
        flex-direction: column
        justify-content: space-between
        position: absolute
        border-radius: 14px
        width: 200px
        background-color: white
        transition: 1s
        opacity: 0%
    &__right-list-last
        left: clamp(-4rem, -26rem, -5rem)
    &__right-list-link-container
        display: flex
    &__right-list-link
        color: black
        position: relative
        text-decoration: none
        padding: .8rem 0
        padding-left: 1rem
        border-radius: 14px
    &__right-list-link:hover
        background-color: col.$grey
        transition: .6s

    &__burger
        display: flex
        width: 2rem
        height: 1.5rem
        flex-direction: column
        justify-content: space-between
        @include var.media($screenType: 3)
            display: none
    &__burger-open
    &__burger-el
        display: block
        height: 1px
        background-color: white
    &__burger-1
    &__burger-2
    &__burger-3

    &__menu
        display: flex
        flex-direction: row
        justify-content: center
        flex-wrap: wrap
        text-align: center
        gap: 1.2rem
        margin-top: 2rem
        padding: 0
        align-items: center
    &__menu-container
        justify-content: center
        left: -100vw
        display: flex
        position: fixed
        padding-top: .5rem
        width: 100vw
        text-align: center
        height: 100vh
        margin: 0
        max-height: 100vh
        gap: 2rem
        top: 0rem
        background-color: white
        color: black
        flex-direction: column
        padding-left: 0
        transition: 1s
        transition-timing-function: ease-out
        @include var.media($screenType: 3)
            display: none
    &__menu-btn
        background-color: col.$grey
        margin-top: 1.4rem
        transition: .8s
        font-size: 1.3rem
        width: 8rem
        margin: 0 auto
        padding: .8rem 1.6rem
        border: none
        border-radius: 13px
    &__menu-btn:hover
        background-color: black
        color: col.$grey
    &__menu-link
        display: flex
        flex-direction: column
        gap: .5rem
    &__menu-upper::after
        content: ''
        display: block
        width: 0%
        background-color: black
        height: 2px
        display: inline-block
        transition: 1s
    &__menu-link:hover 
        .header__menu-upper::after
            width: 100%
    &__menu-upper
        margin: 0
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: .2rem
        font-size: 1.25rem
    &__menu--open
        left: 0
    &__menu-link-component
        text-decoration: none
        color: black
        margin: .4rem 0
    &__menu-summary
    &__menu-details
        display: flex
        flex-direction: column
    &__menu-summary::marker
        content: ''


.background
    background-image: url('./resources/png/mainPage/bg.png')
    background-size: revert
    @include var.media($screenType: 4)
        background-size: cover


@keyframes appear
    0%
        opacity: 0
    100%
        opacity: 100%