.header {
  z-index: 7;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  font-size: 1.1rem;
  top: 0;
  transition: 0.8s;
  padding: 1rem 0;
}
@media (min-width: 767.98px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header__links-elements {
  list-style-type: none;
}
.header__links-hover {
  display: block;
  width: 40%;
}
.header__left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (min-width: 767.98px) {
  .header__left-side {
    margin-left: 1.2rem;
  }
}
.header__logo {
  margin: 0 1rem;
  height: auto;
  width: 40px;
}
.header__right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.2rem;
}
.header__right--pc {
  color: white;
  display: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .header__right--pc {
    display: flex;
  }
}
.header__right-link {
  margin: 1rem 0;
}
@media (min-width: 767.98px) {
  .header__right-link {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .header__right-link {
    font-size: 1.3rem;
  }
}
.header__right-link::after {
  content: "";
  width: 0%;
  display: block;
  background-color: #F0EBD8;
  height: 1px;
  margin-top: 0.4rem;
  transition: 0.8s;
}
.header__right-link-container {
  position: relative;
  transition: 0.8s;
  transition-timing-function: cubic-bezier(0.37, -0.1, 0.57, 1);
}
.header__right-link-container:hover .header__right-link::after {
  width: 100%;
  width-background-color: blue;
}
.header__right-link-container:hover .header__right-list {
  display: flex;
  opacity: 100%;
}
.header__right-list {
  animation: appear 0.8s cubic-bezier(0, 0, 0.2, 1.4);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  border-radius: 14px;
  width: 200px;
  background-color: white;
  transition: 1s;
  opacity: 0%;
}
.header__right-list-last {
  left: -4rem;
}
.header__right-list-link-container {
  display: flex;
}
.header__right-list-link {
  color: black;
  position: relative;
  text-decoration: none;
  padding: 0.8rem 0;
  padding-left: 1rem;
  border-radius: 14px;
}
.header__right-list-link:hover {
  background-color: #F0EBD8;
  transition: 0.6s;
}
.header__burger {
  display: flex;
  width: 2rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
.header__burger-el {
  display: block;
  height: 1px;
  background-color: white;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1.2rem;
  margin-top: 2rem;
  padding: 0;
  align-items: center;
}
.header__menu-container {
  justify-content: center;
  left: -100vw;
  display: flex;
  position: fixed;
  padding-top: 0.5rem;
  width: 100vw;
  text-align: center;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  gap: 2rem;
  top: 0rem;
  background-color: white;
  color: black;
  flex-direction: column;
  padding-left: 0;
  transition: 1s;
  transition-timing-function: ease-out;
}
@media (min-width: 1024px) {
  .header__menu-container {
    display: none;
  }
}
.header__menu-btn {
  background-color: #F0EBD8;
  margin-top: 1.4rem;
  transition: 0.8s;
  font-size: 1.3rem;
  width: 8rem;
  margin: 0 auto;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 13px;
}
.header__menu-btn:hover {
  background-color: black;
  color: #F0EBD8;
}
.header__menu-link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header__menu-upper::after {
  content: "";
  display: block;
  width: 0%;
  background-color: black;
  height: 2px;
  display: inline-block;
  transition: 1s;
}
.header__menu-link:hover .header__menu-upper::after {
  width: 100%;
}
.header__menu-upper {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  font-size: 1.25rem;
}
.header__menu--open {
  left: 0;
}
.header__menu-link-component {
  text-decoration: none;
  color: black;
  margin: 0.4rem 0;
}
.header__menu-details {
  display: flex;
  flex-direction: column;
}
.header__menu-summary::marker {
  content: "";
}

.background {
  background-image: url("./resources/png/mainPage/bg.png");
  background-size: revert;
}
@media (min-width: 1680px) {
  .background {
    background-size: cover;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.mainform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15rem;
  padding-bottom: 20rem;
}
.mainform__title {
  font-size: 2.5rem;
  margin: 0rem;
  color: white;
}
@media (min-width: 767.98px) {
  .mainform__title {
    font-size: 3.8rem;
  }
}
@media (min-width: 1680px) {
  .mainform__title {
    margin-top: 6.5rem;
    font-size: 7rem;
  }
}
.mainform__desc {
  font-size: 1rem;
  color: white;
  font-weight: normal;
  margin-bottom: 3.7rem;
}
@media (min-width: 767.98px) {
  .mainform__desc {
    font-size: 1.22rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1680px) {
  .mainform__desc {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }
}
.mainform__field {
  font-size: 1.2rem;
  background-color: white;
  color: black;
  border-radius: 13px;
  border: none;
  padding: 0.6rem 1rem;
  margin-right: 0.5rem;
  outline: none;
}
@media (min-width: 1680px) {
  .mainform__field {
    width: 25rem;
    font-size: 1.2rem;
  }
}
.mainform__field::placeholder {
  font-family: "DM Sans";
  color: black;
  font-size: 1rem;
}
.mainform__submit-btn {
  font-size: 1.2rem;
  border-radius: 13px;
  color: black;
  border: none;
  padding: 0.6rem 1rem;
  margin-left: 0.5rem;
  transition: 0.5s;
}
@media (min-width: 1680px) {
  .mainform__submit-btn {
    font-size: 1.2rem;
  }
}
.mainform__submit-btn:hover {
  background-color: #748CAB;
  color: white;
}

.form {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.iconSlide__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5.9rem;
  flex: 1;
}
.iconSlide__img-container {
  border-radius: 100%;
  padding: 2rem;
  background-color: #F0EBD8;
  animation: scale 5s cubic-bezier(0.42, 0, 0.59, 1.21) infinite;
}
.iconSlide__img {
  width: 150px;
  height: auto;
}
.iconSlide__title {
  text-align: center;
  font-size: 1.6rem;
}
.iconSlide__desc {
  text-align: center;
  font-size: 1rem;
  width: 60%;
}

.iconSlides {
  background-color: white;
  gap: 2rem;
}
.iconSlides__container {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}
@media (min-width: 767.98px) {
  .iconSlides__container {
    flex-direction: row;
  }
}
.iconSlides__title {
  padding-top: 7rem;
  font-size: 2.7rem;
  text-align: center;
}

@keyframes scale {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.billboard {
  width: 100%;
  color: white;
  text-align: center;
  padding: 4.7rem 0;
  background-color: #1D2D44;
}
@media (min-width: 767.98px) {
  .billboard {
    padding: 9.5rem 0;
  }
}
.billboard__title {
  width: 80%;
  font-size: 2rem;
  margin: 0 auto;
}
@media (min-width: 767.98px) {
  .billboard__title {
    font-size: 2.5rem;
  }
}
.billboard__desc {
  padding-top: 1.2rem;
  font-size: 1srem;
  display: block;
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 767.98px) {
  .billboard__desc {
    font-size: 1.2rem;
    width: 40%;
  }
}
.billboard__icon {
  height: auto;
  width: 50px;
  filter: invert(1);
  margin-top: 4rem;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@media (min-width: 767.98px) {
  .billboard__icon {
    width: 73px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(270deg);
  }
  50% {
    transform: scale(1.27) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(270deg);
  }
}
.preview {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: 11rem auto;
  margin-bottom: 7rem;
}
@media (min-width: 767.98px) {
  .preview {
    flex-direction: row;
  }
}
.preview__img {
  width: 100%;
  min-width: 2rem;
  height: 32rem;
  display: block;
  background-color: black;
}
@media (min-width: 767.98px) {
  .preview__img {
    flex: 1.2;
  }
}
.preview__text-container {
  flex: 1;
}

.askForm {
  overflow: hidden;
  position: relative;
  width: 100%;
  color: white;
  padding-top: 1.4rem;
  border-radius: 13px;
  background-color: #1D2D44;
  margin-bottom: 7rem;
}
@media (min-width: 767.98px) {
  .askForm {
    margin: 2rem auto;
    width: 50%;
    max-width: 40rem;
  }
}
@media (min-width: 767.98px) {
  .askForm__outside-container {
    background-color: #0D1321;
    padding: 4rem 0;
    margin-bottom: 8rem;
  }
}
.askForm__title-text {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.9rem;
  z-index: 5;
  position: relative;
}
.askForm__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  position: relative;
}
.askForm__background-img {
  width: 500px;
  height: 500px;
  filter: invert(1);
  position: absolute;
  z-index: 3;
  top: 7rem;
  right: -12rem;
  animation: rotate 6s cubic-bezier(0.35, -0.29, 0.52, 1.21) infinite;
}
.askForm__email-body {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0.9rem auto 0 auto;
  gap: 1rem;
}
.askForm__email {
  outline: none;
  border: none;
  border-radius: 13px;
  padding: 0.5rem 1rem;
  width: 50%;
}
.askForm__email:focus {
  outline: 3px solid #748CAB;
}
.askForm__email-wraper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.askForm__title {
  outline: none;
  border: none;
  border-radius: 13px;
  padding: 0.5rem 1rem;
  width: 50%;
}
.askForm__title:focus {
  outline: 3px solid #748CAB;
}
.askForm__title-wraper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.askForm__title-img {
  height: 15px;
  width: 15px;
}
.askForm__content {
  outline: none;
  border: none;
  border-radius: 13px;
  padding: 0.5rem 1rem;
  width: 50%;
  width: 80%;
  font-family: "DM Sans";
}
.askForm__content:focus {
  outline: 3px solid #748CAB;
}
.askForm__content::placeholder {
  font-family: "DM Sans";
}
.askForm__img-wraper {
  background-color: white;
  border-radius: 100%;
  padding: 0.6rem 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
}
.askForm__submit-btn {
  border: none;
  padding: 0.5rem 2rem;
  background-color: white;
  color: black;
  border-radius: 19px;
  margin: 1rem 0;
  transition: 0.4s;
}
.askForm__submit-btn:hover {
  color: #F0EBD8;
  background: #3E5C76;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pokeApi__title {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.2rem;
}
.pokeApi__slides-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10rem;
  gap: 4.4rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767.98px) {
  .pokeApi__slides-container {
    flex-direction: row;
    width: 80%;
  }
}

.pokeApiSlide__container {
  position: relative;
  max-width: 31rem;
  width: 78%;
  word-wrap: break-word;
  flex: 1;
}
.pokeApiSlide__top {
  background-color: #F0EBD8;
  padding: 1.8rem 1.8rem;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.pokeApiSlide__down {
  border: #F0EBD8 1px solid;
  padding: 1.8rem 1.8rem;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.pokeApiSlide__number {
  position: absolute;
  right: 7%;
  bottom: -11%;
  font-weight: bold;
  font-size: 2rem;
  color: #1D2D44;
}

.footer {
  text-align: center;
}
.footer__top {
  background-color: #0f0f0f;
  padding-top: 1.2rem;
}
.footer__title {
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
}
.footer__desc {
  color: grey;
  width: 80%;
  margin: 0 auto;
  display: block;
  padding-bottom: 1.7rem;
}
.footer__down {
  background-color: black;
}
.footer__down-desc {
  color: white;
  font-size: 0.8rem;
  padding: 0.7rem 0;
  display: block;
}

body {
  margin: 0;
  font-family: "DM Sans";
}

/*# sourceMappingURL=style.css.map */
