.header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  font-size: 1.1rem;
  top: 0;
  transition: 0.8s;
}
.header__links-elements {
  list-style-type: none;
}
.header__left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
  color: white;
}
.header__logo {
  margin: 0 1rem;
  height: auto;
  width: 30px;
}
.header__right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
}
.header__right--pc {
  display: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767.98px) {
  .header__right--pc {
    display: flex;
  }
}
.header__burger {
  display: flex;
  width: 2rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 767.98px) {
  .header__burger {
    display: none;
  }
}
.header__burger-el {
  display: block;
  height: 1px;
  background-color: black;
}
.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 0;
}
.header__menu-container {
  left: -100vw;
  display: flex;
  position: fixed;
  padding-top: 5.8rem;
  width: 100vw;
  text-align: center;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  gap: 2rem;
  top: 0rem;
  background-color: blue;
  flex-direction: column;
  padding-left: 0;
  transition: 2s;
}
@media (min-width: 767.98px) {
  .header__menu-container {
    display: none;
  }
}
.header__menu-btn {
  margin-top: 1.4rem;
  transition: 0.8s;
  font-size: 1.3rem;
  width: 8rem;
  margin: 0 auto;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 13px;
}
.header__menu--open {
  left: 0;
}
.container {
  background-color: grey;
  background-size: cover;
}

.mainform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8.5rem;
  padding-bottom: 20rem;
}
@media (min-width: 1024px) {
  .mainform {
    margin-top: 8rem;
  }
}
@media (min-width: 1680px) {
  .mainform {
    margin-top: 10rem;
  }
}
.mainform__field {
  background-color: white;
  color: black;
  border-radius: 13px;
  border: none;
  padding: 0.6rem 1.2rem;
  margin-right: 0.5rem;
  outline: none;
}
@media (min-width: 1680px) {
  .mainform__field {
    width: 25rem;
    font-size: 1.2rem;
  }
}
.mainform__submit-btn {
  border-radius: 13px;
  border: none;
  padding: 0.6rem 1.2rem;
  margin-left: 0.5rem;
  transition: 0.5s;
}
@media (min-width: 1680px) {
  .mainform__submit-btn {
    font-size: 1.2rem;
  }
}
.mainform__submit-btn:hover {
  background-color: black;
  color: white;
}
.mainform__title {
  font-size: 2.5rem;
  margin-bottom: 0rem;
}
@media (min-width: 767.98px) {
  .mainform__title {
    font-size: 3.8rem;
  }
}
@media (min-width: 1680px) {
  .mainform__title {
    font-size: 7rem;
  }
}
.mainform__desc {
  font-size: 1rem;
}
@media (min-width: 767.98px) {
  .mainform__desc {
    font-size: 1.22rem;
  }
}
@media (min-width: 1680px) {
  .mainform__desc {
    font-size: 3rem;
  }
}

.iconSlide__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5.9rem;
  flex: 1;
}
.iconSlide__img-container {
  border-radius: 100%;
  padding: 2rem;
  background-color: blue;
}
.iconSlide__img {
  width: 150px;
  height: auto;
}
.iconSlide__title {
  text-align: center;
  font-size: 1.6rem;
}
.iconSlide__desc {
  text-align: center;
  font-size: 1rem;
  width: 60%;
}

.iconSlides {
  gap: 2rem;
}
.iconSlides__container {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}
@media (min-width: 767.98px) {
  .iconSlides__container {
    flex-direction: row;
  }
}
.iconSlides__title {
  font-size: 2.7rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: "DM Sans";
}

/*# sourceMappingURL=style.css.map */
