.header {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  font-size: 1.1rem;
  top: 0;
  transition: 0.8s;
}
.header__links-elements {
  list-style-type: none;
}
.header__left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
  color: white;
}
.header__logo {
  margin: 0 1rem;
  height: auto;
  width: 40px;
}
.header__right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
}
.header__right--pc {
  color: white;
  display: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767.98px) {
  .header__right--pc {
    display: flex;
  }
}
.header__burger {
  display: flex;
  width: 2rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 767.98px) {
  .header__burger {
    display: none;
  }
}
.header__burger-el {
  display: block;
  height: 1px;
  background-color: white;
}
.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 0;
}
.header__menu-container {
  left: -100vw;
  display: flex;
  position: fixed;
  padding-top: 5.8rem;
  width: 100vw;
  text-align: center;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  gap: 2rem;
  top: 0rem;
  background-color: white;
  color: black;
  flex-direction: column;
  padding-left: 0;
  transition: 2s;
}
@media (min-width: 767.98px) {
  .header__menu-container {
    display: none;
  }
}
.header__menu-btn {
  margin-top: 1.4rem;
  transition: 0.8s;
  font-size: 1.3rem;
  width: 8rem;
  margin: 0 auto;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 13px;
}
.header__menu--open {
  left: 0;
}
.background {
  background-image: url("./resources/png/mainPage/bg.png");
  background-size: revert;
}
@media (min-width: 1680px) {
  .background {
    background-size: cover;
  }
}

.mainform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15rem;
  padding-bottom: 20rem;
}
.mainform__field {
  background-color: white;
  color: black;
  border-radius: 13px;
  border: none;
  padding: 0.6rem 1.2rem;
  margin-right: 0.5rem;
  outline: none;
}
@media (min-width: 1680px) {
  .mainform__field {
    width: 25rem;
    font-size: 1.2rem;
  }
}
.mainform__submit-btn {
  border-radius: 13px;
  border: none;
  padding: 0.6rem 1.2rem;
  margin-left: 0.5rem;
  transition: 0.5s;
}
@media (min-width: 1680px) {
  .mainform__submit-btn {
    font-size: 1.2rem;
  }
}
.mainform__submit-btn:hover {
  background-color: black;
  color: white;
}
.mainform__title {
  font-size: 2.5rem;
  margin-bottom: 0rem;
  color: white;
}
@media (min-width: 767.98px) {
  .mainform__title {
    font-size: 3.8rem;
  }
}
@media (min-width: 1680px) {
  .mainform__title {
    font-size: 7rem;
  }
}
.mainform__desc {
  font-size: 1rem;
  color: white;
}
@media (min-width: 767.98px) {
  .mainform__desc {
    font-size: 1.22rem;
  }
}
@media (min-width: 1680px) {
  .mainform__desc {
    font-size: 3rem;
  }
}

.iconSlide__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5.9rem;
  flex: 1;
}
.iconSlide__img-container {
  border-radius: 100%;
  padding: 2rem;
  background-color: #F0EBD8;
}
.iconSlide__img {
  width: 150px;
  height: auto;
}
.iconSlide__title {
  text-align: center;
  font-size: 1.6rem;
}
.iconSlide__desc {
  text-align: center;
  font-size: 1rem;
  width: 60%;
}

.iconSlides {
  background-color: white;
  gap: 2rem;
}
.iconSlides__container {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}
@media (min-width: 767.98px) {
  .iconSlides__container {
    flex-direction: row;
  }
}
.iconSlides__title {
  padding-top: 7rem;
  font-size: 2.7rem;
  text-align: center;
}

.billboard {
  width: 100%;
  color: white;
  text-align: center;
  padding: 4.7rem 0;
  background-color: #1D2D44;
}
@media (min-width: 767.98px) {
  .billboard {
    padding: 9.5rem 0;
  }
}
.billboard__title {
  width: 80%;
  font-size: 2rem;
  margin: 0 auto;
}
@media (min-width: 767.98px) {
  .billboard__title {
    font-size: 2.5rem;
  }
}
.billboard__desc {
  padding-top: 1.2rem;
  font-size: 1srem;
  display: block;
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 767.98px) {
  .billboard__desc {
    font-size: 1.2rem;
    width: 40%;
  }
}
.billboard__icon {
  height: auto;
  width: 50px;
  filter: invert(1);
  margin-top: 4rem;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@media (min-width: 767.98px) {
  .billboard__icon {
    width: 73px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(270deg);
  }
  50% {
    transform: scale(1.27) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(270deg);
  }
}
.preview {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: 11rem auto;
  margin-bottom: 7rem;
}
@media (min-width: 767.98px) {
  .preview {
    flex-direction: row;
  }
}
.preview__img {
  width: 100%;
  min-width: 2rem;
  height: 10rem;
  display: block;
  background-color: black;
}
@media (min-width: 767.98px) {
  .preview__img {
    flex: 1.2;
  }
}
.preview__text-container {
  flex: 1;
}

.askForm {
  width: 100%;
  color: white;
  padding-top: 1.4rem;
  border-radius: 13px;
  background-color: #1D2D44;
  margin-bottom: 10rem;
}
.askForm__title-text {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.9rem;
}
.askForm__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.askForm__email-body {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0.9rem auto 0 auto;
  gap: 1rem;
}
.askForm__email {
  outline: none;
  border: none;
  border-radius: 13px;
  padding: 0.5rem 1rem;
  width: 50%;
}
.askForm__email-wraper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.askForm__title {
  outline: none;
  border: none;
  border-radius: 13px;
  padding: 0.5rem 1rem;
  width: 50%;
}
.askForm__title-wraper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.askForm__title-img {
  height: 15px;
  width: 15px;
}
.askForm__content {
  outline: none;
  border: none;
  border-radius: 13px;
  padding: 0.5rem 1rem;
  width: 50%;
  width: 80%;
}
.askForm__img-wraper {
  background-color: white;
  border-radius: 100%;
  padding: 0.6rem 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
}
.askForm__submit-btn {
  border: none;
  padding: 0.5rem 2rem;
  background-color: white;
  color: black;
  border-radius: 19px;
  margin: 1rem 0;
}

body {
  margin: 0;
  font-family: "DM Sans";
}

/*# sourceMappingURL=style.css.map */
