@use '../../colors' as col

.statsTable
    color: white
    margin: 2rem auto
    border-radius: 14px
    border-collapse: collapse
    &-container


    &__head
        background: col.$blueDarkest
    &__head-cell


    &__body
        background: col.$blueDarker
    &__row
    &__cell

    &__text